<div>
	<div style="height: 120px; border-bottom: 1px solid #cccccc;">
		<div id="my-account" style="display: none;">
			<span class="name"></span>
			<span class="sid"></span>
			<button id="sign-out-button">로그아웃</button>
		</div>
		<div id="sign-in" style="display: none;">
			<input type="text" class="sid" placeholder="아이디">
			<input type="password" class="password" placeholder="비밀번호">
			<button id="sign-in-button">로그인</button>
			<button id="show-sign-up-button">회원가입</button>
		</div>
		<div id="sign-up" style="display: none;">
			<input type="text" class="sid" placeholder="아이디">
			<input type="password" class="password" placeholder="비밀번호">
			<input type="text" class="name" placeholder="이름">
			<button id="sign-up-button">회원가입</button>
			<button id="hide-sign-up-button">취소</button>
		</div>
	</div>

	<button style="width: 80px; height: 80px;">공지사항</button>
</div>
